:root {
  --primary-color: #284B63; /*indigo dye*/
  --secondary-color: #3C6E71; /*Caribbean Current */
  --accent1-color: #484349; /*Jet*/
  --accent2-color: #FFD9CE; /*Pale Dogwood*/
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

header {
  box-sizing: border-box;
  background-color: #ddd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  justify-items: center;
  border-bottom: 1px solid #ccc;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation a {
    display: block;
    color: navy;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation li {
    flex: 1 1 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

footer {
  background-color: #ddd;
  display: grid;
  grid-template-columns: 1fr .4fr;
  align-items: end;
  border-bottom: 1px solid #ccc;
}

.socialmedia a {
  text-decoration: none;
  color: navy;
  padding: 5px;
}

.socialmedia img {
  width: 30px;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

h2 {
  text-align: center;
}

article {
  text-align: left;
  background-color:#FFD9CE;
  position: absolute;
  top: 340px;
  margin: auto;
  right: 1rem;
  left: 1rem;
  bottom: 0.5rem;
}

form {
  width: auto;
  display: grid;
}

input {
  padding: .3rem;
}

.hero article img {
  float: right;
  width: 125px;
}

#history_img {
  width: 150px;
  border-radius: 8px;
}

.history-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.history-content p {
  flex: 1;
  max-width: 300px;
}

.adventure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.employees img {
  width: 250px;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

}

.column1 {
  grid-template-columns: 1fr 2fr;
}

.quiz-item {
  display: grid;
  align-items: center;
}

.column2 {
  grid-template-columns: 100px 1fr;
}

.radio-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.radio-options label {
  padding: 0.5rem;
}

.check {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  justify-content: flex-end;
}

.heading h1 {
  position: unset;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

.contact1 p {
  text-align: center;
}

.employees {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}